nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 22px;
    position: sticky;
    top: 0;
    background-color: black;
    opacity: 1;
    z-index: 1000;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px; 
    padding: 0;
  }
  
  nav li {
    display: inline;

  }
  a {
    color: rgb(115, 158, 151);
    font-weight: bold;
  }

  a:visited {
    color:rgb(155, 27, 169);
  }
  