<nav>
  <img src="assets\INTERLOGO.png" alt="Logo" style="height: 100px;">
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/reservations">Reservations</a></li>
      <li><a routerLink="/space-suites">Space-Suites</a></li>
      <li><a routerLink="/voyages">Voyages</a></li>
      <li><a routerLink="/adventures">Activities & Adventures</a></li>
      <li><a routerLink="/about-us">About Us</a></li>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Trispace:wght@100..800&display=swap" rel="stylesheet">
    </ul>
  </nav>