<div class="common-background">
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="\assets\interstellar-design-ad.png" alt="Design Ad" style="width:500px; height:450px;">
      </div>
      <div class="flip-card-back">
        <p>Are you in need of a little R & R?</p> 
        <p>We've got you. Join us today on the</p>
        <h1>Luna Vista Odessey Tour</h1>
      </div>
    </div>
  </div>
    <div class="search-container">
      <h1 class="book-space-dest-title">BOOK SPACE DESTINATIONS</h1>
      <div class="search-box">
        <select class="destination-dropdown">
          <option value="none" selected disabled hidden>
            Select an Adventure!
          </option>
          <option>
            Interplanetary Eight Odyssey:
            A full tour of the classic 8, Mercury through Neptune
          </option>
          <option>
            Exoplanet Excursion:
            The Outer-Five, Pluto and the other Dwarf planets
          </option>
          <option>
            Nebula's Edge: 
            Discover the Outer Limits of our Solar System
          </option>
          <option>
            Luna Vista:
            Dance in Moonlight, howl at the Moon, and Master the Moonwalk
          </option>
        </select>
        <input type="date" class="date-picker" placeholder="Select Date">
        <button class="search-button">SEARCH</button>
      </div>
    </div>  
    <ng-content></ng-content>
</div>