
/*       ********** Background Image ***********      */

.common-background {
    background-image: url('/assets/starrySky.png');
    background-size: contain;
    background-position: center;
    height: 100vh; 
  }

  /*     ********* Flip Card Animation *********      */

  .flip-card {
    margin-left: 38%;
    padding-top: 10%;
    z-index: -10;
    background-color: transparent;
    width: 500px;
    height: 450px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.7s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgb(202, 14, 223);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: rgb(202, 14, 223);
    color: white;
    transform: rotateY(180deg);
  }

/*         *********** Search Container ***********    */

.search-container {
    padding-top: 2%;
    text-align: center;
    color: rgb(251, 255, 255);
    font-family:Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
  }
  
  .search-box {
    display: flex;
    justify-content: center;
    margin: 10px;
  }
  
  .destination-dropdown, .date-picker {
    padding: 10px;
    margin-right: .2px;
  }
  .book-space-dest-title {
    font-family:  "Trispace", sans-serif;
    }
  
  .destination-dropdown {
    border-top-left-radius: 14px !important;
    border-bottom-left-radius: 14px !important;
    font-weight: bolder;
  }
  
  .search-button {
    padding: 10px 20px;
    background-color: rgb(202, 14, 223);
    color: white;
    cursor: pointer;
    border-top-right-radius: 14px !important;
    border-bottom-right-radius: 14px !important;
  }

